@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  z-index: -1;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
}

#card-stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 3;
}

.card {
  position: absolute;
  width: 200px;
  background: linear-gradient(
    to right,
    rgba(48, 207, 208, 0.5),
    rgba(51, 8, 103, 0.5)
  );
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transform-origin: bottom center;
  text-align: center;
  color: white;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.card-content {
  margin-top: 15px;
  font-size: 18px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 150px;
  height: auto;
  background: linear-gradient(
    to right,
    rgba(48, 207, 208, 0.5),
    rgba(51, 8, 103, 0.5)
  );
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.button-content {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}

.button {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    to right,
    rgba(48, 207, 208, 0.5),
    rgba(51, 8, 103, 0.5)
  );
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
  margin: 5px;
  /* z-index: 2; */
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.button:hover {
  box-shadow: 0 0 20px rgba(48, 207, 208, 0.7), 0 0 20px rgba(51, 8, 103, 0.7),
    0 0 20px rgba(140, 208, 95, 0.7), 0 0 20px rgba(227, 91, 140, 0.7);
}

@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 150px; /* Adjust as needed */
    padding: 10px;
  }

  .card img {
    height: 200px; /* Adjust as needed */
  }

  .card-content {
    font-size: 14px; /* Adjust as needed */
  }
}
